.navbar-item{
    font-size: 20px;
    color: white
}

.navlink{
    color: white;
}

.navlink-forums{
    color: black;
}

.nav-search{
    width: 500px;
}

.navbar-brand{
    margin-top: 5px;
}

@media screen and (max-width: 1023px){
    .navlink {
        color: black;
    }
    .button {
        margin-top: 10px;
    }
    #brand-mobile {
        color: white;
    }
    #brand-mobile-forums {
        color: black;
    }
}